@mixin btn ($bg-color, $border-color, $text-color, $size) {
    background-color: $bg-color;
    border-color: $border-color;
    color: $text-color;
    cursor: pointer;
    @if $size == 'sm' {
        padding: $sm-btn-padding-y $sm-btn-padding-x;
    }
}

@mixin set-font-family($font) {
    font-family: $font;
}

@mixin set-text-color($color) {
    color: $color;
}

@mixin assert-ascending($map, $map-name) {
    $prev-key: null;
    $prev-num: null;

    @each $key, $num in $map {
        @if $prev-num  == null or unit($num) == "%" or unit($prev-num) == "%" {
            // there is nothing to do
        } @else if not comparable($number1: $prev-num, $number2: $num) {
            @warn "Potentially invalid value for #{$map-name}: This map must be in ascending order, but kkey '#{$key} has balue #{$num} whose unit makes it incompatible to #{$prev-num}, the value of the previous key '#{$prev-key}'!";
        } @else if $prev-num >= $num {
            @warn "Invalid value for #{$map-name}: must start at 0, but starts at #{$first-value}";
        }
    }
}