@import "functions";

$clr-primary: #9377ed;
$clr-error: #f04438;
$clr-warning: #f79009;
$clr-success: #17b26a;

$clr-blur-gray: #4e5ba6;
$clr-cool-gray: #5d6b98;
$clr-modern-gray: #697586;

$prefix: 'uik-';

$theme-colors: (
    "primary": $clr-primary
);
@each $color, $value in $theme-colors {
    .text-bg-#{$color} {
        color: color-contrast($value) 
    }
}

$sm-btn-padding-x: px-to-rem(12);
$sm-btn-padding-y: px-to-rem(8);